body {
	min-width: 1122px;
	font-size: 14px;
	font-family: "PTSans";
	line-height: 24px;
	color: #000;
	font-weight: bold;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.index-content-title {
	font-size: 30px;
	line-height: 42px;
}
.title-text {
	font-size: 24px;
	line-height: 30px;
}

/***********начало сетки***********/
            /**index**/
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.main-header {
	background: #000;
	font-size: 0;
	margin-bottom: 60px;
}
	.container {
		width: 940px;
		margin: 0 auto;
		padding: 0 10px;
		background: #fff222;
		opacity: .5;
	}
		.main-navigation {
			width: 600px;
			float: left;

			min-height: 72px;
			outline: 1px solid #B40456;
		}
		.user-block {
			width: 140px;
			height: 72px;
			float: right;

			min-height: 72px;
			outline: 1px solid #B40456;
		}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;

	outline: 1px solid #B40456;
}
.features {
	margin-bottom: 80px;

	outline: 1px solid #B40456;
}
	.features-item {
		width: 300px;
		float: left;
		margin-right: 20px;

		outline: 1px solid #B40456;
		min-height: 175px;
	}
	.features-item:last-child {
		margin-right: 0;
	}

.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;

	outline: 1px solid #B40456;
}
	.index-content-left {
		float: left;
		width: 380px;

		min-height: 330px;
		outline: 1px solid #B40456;
	}
	.index-content-right{
		float: right;
		width: 300px;

		min-height: 330px;
		outline: 1px solid #B40456;
	}

.main-footer {
	background: #000;
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;

	outline: 1px solid #B40456;
}
	.footer-contacts {
		float: left;
		width: 320px;
		margin-right: 60px;

		min-height: 90px;
		outline: 1px solid #B40456;
	}
	.footer-social {
		float: left;
		width: 180px;

		min-height: 90px;
		outline: 1px solid #B40456;
	}
	.footer-copyright {
		float: right;
		width: 180px;

		min-height: 90px;
		outline: 1px solid #B40456;
	}

           /**catalog**/
.main-header .logo {
	float: left;
}

.container .title {
	margin-bottom: 60px;

	outline: 1px solid #B40456;
}
.catalog-shop {

	outline: 1px solid #B40456;
}
	.filter {
		width: 240px;
		float: left;

		outline: 1px solid #B40456;
	}
		.flter-brand {
			margin-bottom: 33px;

			min-height: 279px;
		}
		.filter-product-group {
			margin-bottom: 28px;

			min-height: 186px;
		}
		.show {

			min-height: 43px;
			width: 112px;
			outline: 1px solid #B40456;
		}
.catalog {
	width: 700px;
	float: right;
	font-size: 0;
	margin-bottom: -16px;  /*наверное это не лучший выход, и лучше было бы обнулить верхний отступ у футера для всех страниц...*/

	outline: 1px solid #B40456;
}
	.catalog-item {
		width: 220px;
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		vertical-align: top;
		font-size: 14px;

		min-height: 286px;
		outline: 1px solid #B40456;
	}
	.catalog-item:nth-child(3n) {
		margin-right: 0;
	}
	.paginator {
		width: 193px;
		margin-top: 25px;

		min-height: 43px;
		background: #000;
	}

         /**catalog-item**/
.content-item {
	margin-bottom: -16px;
}
	.content-item-left {
		float: left;
		margin-right: 60px;

		outline: 1px solid #B40456;
	}
		.item-foto-main {
			width: 460px;
			height: 498px;

			outline: 1px solid #B40456;
		}
			.item-foto-add {
				width: 140px;
				height: 149px;
				margin-top: 20px;
				margin-right: 20px;
				float: left;

				outline: 1px solid #B40456;
			}
	.content-item-right {
		float: right;
		width: 390px;
		padding-left: 10px;
		padding-top: 25px;

		outline: 1px solid #B40456;
	}
           /**price**/
.big-title {
	margin-bottom: 75px;

	outline: 1px solid #B40456;
}
	.content-price-column {
		width: 460px;
		float: left;
		margin-bottom: 68px;
		margin-right: 20px;

		outline: 1px solid #B40456;
	}
	.content-price-column:nth-child(2) {
		margin-right: 0;
	}
	.about-us {
	margin-bottom: 19px;

	outline: 1px solid #B40456;
	}
		.column-about-us {
			width: 460px;
			margin-right: 20px;
			float: left;

			outline: 1px solid #B40456;
		}
		.column-about-us:last-of-type {
			margin-right: 0;
		}







/***********конец сетки***********/
.main-navigation li{
	display: inline-block;
	list-style: none;

}
	.main-navigation a{
		font-size: 16px;
		color: #fff;
		text-decoration: none;
		margin-right: 10px;
	}
.user-block a{
		font-size: 16px;
		color: #fff;
		text-decoration: none;
}
.title-text {
	width: 240px;
}

